#projects{
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 50px;
  }
  
  .carousel-box{
    background-color: none !important;
    margin: 20px;
  }

  .keen-slider{
    min-height: 600px;
    height: 100% !important;
    width: 100% !important;
  }

 .carousel-detail-text{
    border: 1px solid rgba(255, 0, 85, 0.192);
    margin: 10px;
    transition: all 0.2s ease-in-out;
    z-index: 3;
 }
 .carousel-detail-text:hover{
    transform: translateY(-5px);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    box-shadow: -1px 1px 8px 4px rgba(255, 0, 85, 0.41);
 }

  .carousel-skill{
    border: 1px solid rgba(255, 0, 85, 0.192);
    padding: 5px 10px 5px 10px;
    transition: all 0.2s ease-in-out;
  }
  .carousel-skill:hover{
    transform: translateY(-5px);
    cursor: pointer;
    box-shadow: -1px 1px 8px 4px rgba(255, 0, 85, 0.41);
    transition: all 0.2s ease-in-out;
  }

  .carousel-blur-box{
    display: flex;
    flex-direction: column;
  }

  .carousel-main h6{
    color: rgba(255, 0, 85);
  }

  .carousel-main img{
    top: 50px;
    border-radius: 5px;
    border: 3px dotted rgba(255, 0, 85);
    transition: all 0.2s ease-in-out;
    z-index: 1;
  }
  .carousel-main img:hover{
    transform: translateY(-5px) !important;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: -1px 1px 8px 4px rgba(255, 0, 85, 0.41);
  }
  .inText{
    top: 150px;
    right: 0px;
    max-width: 300px;
    z-index: 2;
    transition: all 0.2s ease-in-out;
  }
  .inText:hover{
    transform: translateY(-5px) !important;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-shadow: 1px 2px 4px rgba(255, 0, 85, 0.6);
  }

  .dot-mobile{
    position: absolute;
    bottom: 0;
  }

  .mobile-img{
    border-radius: 5px;
    border: 3px dotted rgba(255, 0, 85);
    transition: all 0.2s ease-in-out;
    z-index: 2;
  }
  .mobile-img:hover{
    transform: translateY(5px) !important;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: -1px 1px 8px 4px rgba(255, 0, 85, 0.41);
  }

  .mobile-cont{
    border: 1px solid rgba(255, 0, 85, 0.192);
    margin: 10px;
    transition: all 0.2s ease-in-out;
    z-index: 3;
    padding: 10px;
  }
  .mobile-cont:hover{
    transform: translateY(-5px);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    box-shadow: -1px 1px 8px 4px rgba(255, 0, 85, 0.41);
  }

  .mobile-h6{
    color: rgba(255, 0, 85);
    z-index: 2;
    transition: all 0.2s ease-in-out;
  }
  .mobile-h6:hover{
    transform: translateY(-5px) !important;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-shadow: 1px 2px 4px rgba(255, 0, 85, 0.6);
  }

  .mobile-skill{
    width: auto;
    text-align: center;
    border: 1px solid rgba(255, 0, 85, 0.192);
    border-radius: 10px;
    margin: 5px !important;
    padding: 5px 10px 5px 10px;
    transition: all 0.2s ease-in-out;
  }

  .mobile-skill:hover{
    transform: translateY(-5px);
    cursor: pointer;
    box-shadow: -1px 1px 8px 4px rgba(255, 0, 85, 0.41);
    transition: all 0.2s ease-in-out;
  }

  .mobile-skill-parent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly !important;
  }

