#projects{
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 100px;
  }
  
  .carousel-box{
    background-color: none !important;
  
  }

 .carousel-detail-text{
    margin: 2px;
    transition: all 0.2s ease-in-out;
 }
 .carousel-detail-text:hover{
    transform: translateY(-5px);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 4px 35px -5px rgba(255, 0, 85, 0.856);
 }
  .carousel-skill{
    padding: 5px 10px 5px 10px;
    transition: all 0.2s ease-in-out;
  }
  .carousel-skill:hover{
    transform: translateY(-5px);
    cursor: pointer;
    box-shadow: 0px 4px 35px -5px rgba(255, 0, 85, 0.856);
    transition: all 0.2s ease-in-out;
  }

  .carousel-blur-box{
    display: flex;
    flex-direction: column;
  }